body {
	text-align: center;
}
p {
	font-family: 'Lora', serif;
	font-size: 15px;
}
h1, h2, h3 {
	font-family: 'Roboto', san-serif;
}
h1 {
	font-size: 55px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 25px;
}
.parallax {
	background-image: url("https://media.glassdoor.com/o/34889/vanderbilt-university-medical-center-office.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    margin: 0px;
}
#dark {
	background: rgba(0, 0, 0, 0.5);
	min-height: 300px;
	padding: 10% 0% 0% 0%;
}

.info {
	background-color: black;
	/*margin: 10px 0px;*/
	margin: 0px 0px 15px 0;
	background: rgba(0, 0, 0, .8)
}
.info h1{
	margin:0px;
	font-size: 70px;
	color: white;
}
.info p{
	font-size: 20px;
	color: white;
}
.info a {
	color: white;
}
.info a:hover {
	color: yellow;
	text-decoration: overline;
}
.info .profile {
	border-radius: 50%;
	width: 200px;
	margin: 30px 0px;
	opacity: 3.5;
}
.info .profile img {
	margin: 40px;
}
.link-nav {
	padding: 15px;
	width: 100%;
	background: none;
	position: relative;
}
.link-nav ul {
	list-style-type: none;
	font-size: 20px;
}
.link-nav ul li img {
	width: 120px;
}
.link-nav ul li {
	display: inline;
	margin: 0 40px;
}
#arrow {
	filter: invert(1);
	width: 50px;
	margin: 0px 0 10 0;
}
#arrow:hover {
	filter: invert(.6);
}
.footer {
	background-color: black;
	margin: 0px;
	padding: 20px 0px;
}
.footer .footer-text p {
	font-size: 12px;
	color: white;
	margin: 0px;
}
.main-content {
	border-radius: 20px 20px 0px 0px;
	background-color: white;
	width: 80%;
	margin: 0% 10%;
}
.main-content .content-text p {
	font-size: 20px;
	text-align: left;
}
.main-content .content-text {
	padding: 0px 80px;
	min-height: 1000px;
}
#scroll-to {
	position: relative;
	top: 0px;
}